doctype html
html
  head
    meta(charset="utf-8")
    title 第三屆軟體專案管理營
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/script.js")
  body(onload="init()")
    block content
